.img{
    margin-top: 6rem;
    margin-left:18rem;
}
.one,.two{
    font-family: 'Josefin Sans', sans-serif;
    
    letter-spacing: 14px;
    font-size:40px;
}
.one{
    color:  hsl(0, 36%, 70%);
    letter-spacing: 10px;
    font-size:40px;
    margin-top: 12rem;
    margin-left:18rem;
    line-height: 22px;
    
}
.two{
   color: hsl(0, 6%, 24%);
   margin-top: 0.2rem;
   margin-left:18rem;
   font-family: 'Josefin Sans', sans-serif;
   font-weight :bolder;
   line-height: 50px;
}
.three{
    color:  hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    margin-top: 2rem;
    margin-left:18rem;
}

.email{
    margin-top: 2rem;   
    margin-left:16rem;
    width:35rem;
    height:4rem;
    border-radius:3rem;
    border: 1px solid grey;
}
::placeholder{
    font-size: 18px;
    color:  hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    padding-left:2rem;
   
}
.btn{
    background-image: linear-gradient( hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    margin-top: 0rem;   
    margin-left:-74px;
    border-radius: 2.5rem;
    width:7rem;
    height:4.4rem;
}
.desktop{
   float: right;
   
}
.desktop1{
    float:center;
}
@media screen and (max-width: 1440px) {
    .desktop {
        display: none !important; 
    }
    
}
@media screen and (min-width: 375px) {
    .desktop1 {
        display: none !important; 
    }
    
}

